@font-face {
    font-family: 'DroidSans-Bd';
    src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.ttf') format('truetype');
    font-style: normal;
}