.footer {
	background: #e6e6e6;
	padding: 20px;
	@include clearfix();
	.footer__wrapper {
		max-width: $desktop-width;
		width: 100%;
		height: auto;
		margin: 0 auto;
		@include clearfix();
		.wrapper__newsletter {
			background: $white;
			padding: 10px 20px;
			@include tablet {
				float: right;
				width: 45%;
				padding: 10px 20px 30px 20px;
			}
	
			.newsletter__title {
				font-family: $font-rob-md;
				font-size: 16px;
				font-style: italic;
				color: #282236;
			}

			.newsletter__subtitle {
				font-family: $font-rob-md;
				font-size: 14px;
				color: #282236;
			}

			.box__form {
				@include clearfix();
				.form__email {
					width: 70%;
					float: left;
					text-align: left;
					font-family: $font-rob-md;
					font-size: 16px;
					border: 1.5px $gray-dark solid;
					padding: 8px 20px;
					color: #a9abc3;
					margin: 0 5% 0 0;
					@include border-radius(5px);

					&.error {
						border: 2px $red solid;
						color: $red;
					}
				}

				.form__button {
					width: 25%;
					display: block;
					float: left;
					padding: 10px 5px;
					background: #d73a1e;
					font-family: $font-rob-bd;
					font-size: 14px;
					cursor: pointer;
					@include border-radius(5px);

					&:hover {
						background: darken(#d73a1e, 7%);
					}
				}
			}
		}

		.wrapper__social {
			@include tablet {
				float: left;
				width: 55%;
			}
			.social__group-links {
				list-style: none;
				width: 100%;
				padding: 0;
				@include clearfix();
	
				.group-links__item {
					width: 27%;
					height: auto;
					float: left;
					text-align: left;

					.item__text {
						margin-top: 0px;
						margin-bottom: 0px;
						-webkit-transition: left 0.2s ease-in;
						-moz-transition: left 0.2s ease-in;
						-o-transition: left 0.2s ease-in;
						transition: left 0.2s ease-in;
						position: relative;
						left:0;
						&:hover {
							left: 5px;
							
						}

						.text__link {
							color: #db3f1e;
							font-family: $font-rob-md;
							font-size: 16px;
							&:hover {
								color: darken(#db3f1e, 5%);
								
							}
						}
					}
					
				}
			}
			.social__group {
				list-style: none;
				width: 100%;
				padding: 0;
				@include clearfix();
				@include tablet {
				}
	
				.group__item {
					width: 20%;
					height: auto;
					float: left;
					text-align: center;
					@include tablet {
						width: 60px;
						margin-bottom: 30px;
						margin-top: 20px;
						text-align: left;
					}

					.item__link {
						.item__icon {
							margin: 0 auto;
							-webkit-transition: top 0.2s ease-in;
							-moz-transition: top 0.2s ease-in;
							-o-transition: top 0.2s ease-in;
							transition: top 0.2s ease-in;
							position: relative;
							top: 0;
							&:hover {
								top: -6px;
								
							}
						}
					}
				}
			}

			.social__rights {
				font-family: $font-rob-md;
				font-size: 16px;
				color: #6c7097;
				margin: 10px 0;
				text-align: center;

				@include tablet {
					text-align: left;
				}
		
			}
		}
	}

	.header__logo {
		width: 60%;
		float: left;

		.logo__image {
			width: 100%;
			margin-top: 8px;
		}
	}

	.header__bag {
		width: 20%;
		float: left;
		text-align: center;

		.bag__image {
			width: auto;
			margin: 0 auto;
		}

		.bag__text {
			font-family: $font-rob-bd;
			font-size: 14px;
			color: #b3b3b3;
			margin: 0;

			span {
				color: #d73a1e;
			}
		}
	}

	.header__description {
		float: left;
		width: 100%;
		background: #e6e6e6;
		padding: 15px 0;
		text-align: center;

		.description__text {
			font-family: $font-rob-bd;
			font-size: 16px;
			color: #636363;
			margin: 0;
		}
	}
	
}