.header {
	padding: 10px 5px 0 5px;
	@include clearfix();
	.navbar-toggle {
		float: left;
		@include desktop {
			display: none;
		}

		.icon {
			position: relative;
			width: 30px;
			height: 24px;
			cursor: pointer;
			-webkit-transform: translateY(0);
			transform: translateY(0);
			transition: all .3s ease;
		}
		.line {
			height: 4px;
			width: 30px;
			margin: 2px 0;
			background: $purple;
			position: absolute;
			border-radius: 10px;
			transition: all .3s ease;
			&.line-top {
				transform: rotate(0);
			}
			&.line-mid {
				opacity: 1;
				transform: rotate(0) translateY(7px);
			}
			&.line-bot {
				transform: rotate(0) translateY(14px);
			}
		}
		&.close {
			.icon {
				margin-right: 10px;
				width: 18px;
				transform: translateY(7px);
				.line-top {
					transform: rotate(45deg) translateY(0);
				}
				.line-mid {
					opacity: 0;
				}
				.line-bot {
					transform: rotate(-45deg) translateY(0);
				}
			}
		}
	}
}