<section class="apps" id="apps-section">
	<div class="apps__wrapper">
		<h2 class="wrapper__title">Quem tem Vivo Turbo curte muito mais</h2>
		<p class="wrapper__subtitle">Assine Vivo Turbo e tenha acesso a aplicativos exclusivos.</p>
		<ul class="wrapper__group">
			<li class="group__item" data-app="goRead">
				<img src="{{ _basePath }}img/vivo-turbo-aplicativos-icone-goread.png" alt="" class="item__icon">
				<h3 class="item__title">GoRead</h3>
				<p class="item__description">Quem tem Vivo Turbo acessa mais de 160 revistas digitais pelo smartphone ou tablet, no app GoRead. Disponível para os planos R$ 9,99 e R$ 14,99.</p>
				<a href="http://appstore.vivo.com.br/entretenimento/vivo-go-read/vivo-turbo" target="_blank" class="button item__button curmudgeon" title="Baixe agora o aplicativo GoRead" alt="Baixe agora o aplicativo GoRead">Baixe agora</a>
			</li>
			<li class="group__item" data-app="nba">
				<img src="{{ _basePath }}img/vivo-turbo-aplicativos-icone-nba.png" alt="" class="item__icon">
				<h3 class="item__title">NBA</h3>
				<p class="item__description">Plano básico do app da NBA, com contéudos especiais e um jogo ao vivo por semana na temporada regular. Disponível para Vivo Turbo R$14,99.</p>
				<a href="http://www.appstore.vivo.com.br/entretenimento/vivo-nba/vivo-turbo" target="_blank" class="button item__button curmudgeon" title="Baixe agora o aplicativo da NBA" alt="Baixe agora o aplicativo da NBA">Baixe agora</a>
			</li>
		</ul>
		<ul class="wrapper__group-info">
			<li class="group-info__item" data-info="renew">
				<h3 class="item__title">Sabia que dá pra antecipar a renovação do seu Vivo Turbo?</h3>
				<p class="item__description">É isso mesmo! Você não precisa esperar a renovação automática e nem perde os dados que ainda não consumiu.</p>
				<div class="item__container-button">
					<a href="javascript:void(0);" id="btnAntecipeAgora" class="button container-button__button" data-key="RENOVARVT" title="Antecipe agora a renovação do seu Vivo Turbo" alt="Antecipe agora a renovação do seu Vivo Turbo">Antecipe agora</a>
				</div>
			</li>
			<li class="group-info__item" data-info="social-media">
				<h3 class="item__title">Você é daqueles que não desgruda das redes sociais ou tá sempre pendurado no telefone?</h3>
				<p class="item__description">Temos pacotes específicos pra turbinar ainda mais seu Vivo Turbo.</p>
				<div class="item__container-button">
					<a href="pacotes-turbinados/" class="button container-button__button" title="Clique aqui para ver os pacotes turbinados" alt="Clique aqui para ver os pacotes turbinados">Ver pacotes</a>
				</div>
			</li>
		</ul>
	</div>
</section>