<footer class="footer">
	<div class="footer__wrapper">
		<div class="wrapper__texts">
			<h3 class="texts__copyright">Copyright © 2017 Vivo. Todos os direitos reservados.</h3>
			<h3 class="texts__relationship only-desk">Relacionamento com o Cliente 103 15 • Deficientes Auditivos e da Fala 142</h3>
		</div>
		<p class="wrapper__policy">
			<a target="_blank" href="http://www.vivo.com.br/portalweb/appmanager/env/web?_nfpb=true&_nfls=false&_pageLabel=vivoVivoInstPrivacidadePage">Política de Privacidade</a>
		</p>
		<div class="wrapper__logos">
			<img src="{{ _basePath }}img/vivo-turbo-logo-telefonica.png" title="Telefonica" alt="Telefonica" class="logos__left">
			<img src="{{ _basePath }}img/vivo-turbo-logo-vivia-tudo.png" title="Viva Tudo" alt="Viva Tudo" class="logos__right">
		</div>
	</div>
</footer>
