<div class="modal fade" id="modalGateway" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
				<h4 class="modal-title">Escolha seu Estado e Cidade:</h4>
			</div>
			<div class="modal-body">
				<form class="chooseLocation">
					<fieldset>
						<span class="icon-pin-reg"></span>
						<div class="ent-select">
							<select name="selectState" class="selectState"></select>
							<!-- <select name="selectDDD" class="selectDDD"></select> -->
							<select name="selectCity" class="selectCity"></select>
							<button type="button" class="btn btn-primary grey button-send-region">
								Ok
							</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

