<section class="menu">
    <div class="menu__wrapper">
        <ul class="wrapper__group">
            <li class="group__item">
                <p class="item__text">
                    <a href="javascript:void(0);" class="text__link" alt="Potions" title="Potions">Potions &#11167;</a>
                </p>
            </li>
            <li class="group__item">
                <p class="item__text">
                    <a href="javascript:void(0);" class="text__link" alt="Ingredients" title="Ingredients">Ingredients &#11167;</a>
                </p>
            </li>
            <li class="group__item">
                <p class="item__text">
                    <a href="javascript:void(0);" class="text__link" alt="Books" title="Books">Books &#11167;</a>
                </p>
            </li>
            <li class="group__item">
                <p class="item__text">
                    <a href="javascript:void(0);" class="text__link" alt="Supplies" title="Supplies">Supplies &#11167;</a>
                </p>
            </li>
            <li class="group__item">
                <p class="item__text">
                    <a href="javascript:void(0);" class="text__link" alt="Charms" title="Charms">Charms &#11167;</a>
                </p>
            </li>
            <li class="group__item">
                <p class="item__text">
                    <a href="javascript:void(0);" class="text__link" alt="Clearance" title="Clearance">Clearance!</a>
                </p>
            </li>
            <li class="group__item sign">
                <p class="item__text">
                    <a href="javascript:void(0);" class="text__link" alt="Sign In" title="Sign In">Sign In</a>
                    <span>or</span>
                    <a href="javascript:void(0);" class="text__link featured" alt="Sign In" title="Sign In">Sign Up</a>
                </p>
            </li>
        </ul>
    </div>
</section>