<section class="menu">
    <div class="menu__container">
        <ul class="menu__list">
            <li class="menu__list-item"><a href="{{ _basePath }}" class="menu__list-item_link" data-home-section="home-page">Home</a></li>
            <li class="menu__list-item"><a href="{{ _basePath }}compartilhe" class="menu__list-item_link" data-home-section="compartilhe-page">Compartilhe</a></li>
            <li class="menu__list-item"><a href="javascript:void(0)" class="menu__list-item_link mob" data-home-section="recharge-section">Recarga</a></li>
            <li class="menu__list-item"><a href="javascript:void(0)" class="menu__list-item_link mob" data-home-section="apps-section">Aplicativos exclusivos</a></li>
            <li class="menu__list-item"><a href="{{ _basePath }}venha-para-vivo" class="menu__list-item_link" data-home-section="venha-para-vivo-page">Venha para Vivo</a></li>
            <li class="menu__list-item"><a href="{{ _basePath }}pacotes-turbinados" class="menu__list-item_link" data-home-section="pacotes-turbinados-page">Pacotes turbinados</a></li>
            <li class="menu__list-item"><a href="{{ _basePath }}tire-suas-duvidas" class="menu__list-item_link" data-home-section="tire-suas-duvidas-page">Tire suas dúvidas</a></li>
        </ul>
        <div class="menu__app">
            <img src="{{ _basePath }}img/vivo-turbo-menu-s8.png" alt="" class="menu__app-photo">
            <div class="menu__app-right">
                <small class="menu__app-txt">Baixe o Meu Vivo:</small>
                <h3 class="menu__app-title">App Meu Vivo</h3>
                <p class="menu__app-subtitle">Tudo que você precisa, <br>na tela do seu celular.</p>
                <a href="https://play.google.com/store/apps/details?id=br.com.vivo&referrer=utm_source%3Dlp-app-meu-vivo%26utm_medium%3Down%26utm_campaign%3Dportal%253Ameu-vivo%253Avivo%26utm_content%3Down%253Asitedesktop%253A-%253Abotao%253A-%253A-%26utm_term%3D&_ga=2.175747238.545537146.1501074711-491892541.1501074711" target="_blank" class="menu__app-button android"></a>
                <a href="https://itunes.apple.com/us/app/meu-vivo/id475915064?ls=1&mt=8&utm_source=lp_aplicativo_meuvivo_itunes&utm_medium=botao_superior&utm_campaign=app_meu_vivo&_ga=2.175747238.545537146.1501074711-491892541.1501074711" target="_blank" class="menu__app-button ios"></a>
            </div>
        </div>
    </div>
</section>