<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog">
    <div class="modal-dialog animated-box foo" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="row">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="javascript:void(0)" class="close-button" title="Fechar"></a>
                        </div>
                        <div class="modal-image">
                            <img id="modalImage" src="{{ _basePath }}img/love-potion.png" alt="" class="image__product">
                        </div>
                        <div class="modal-info">
                            <h3 class="title-info" id="modalName">Aging Potion</h3>          
                            <h4 class="desc-info">Use/Effect:</h4>
                            <p class="plan-details" id="modalEffect">
                                Causes the drinker to advance in age
                            </p>
                            <h4 class="desc-info">Ingredients:</h4>
                            <p class="plan-details" id="modalIngredients">
                                Red Wine<br>
                                Prune Juice<br>
                                Hairy Fungus<br>
                                Tortoise Shell<br>
                                Caterpillar<br>
                                Bat Tongue
                            </p>
                            <h4 class="desc-info">Price:</h4>
                            <p class="plan-details" id="modalPrice">
                                $29.99
                            </p>
                            <div class="container__button">
                                <a href="javascript:void(0);" class="button button__understand" id="btnAddToCart" title="Add to cart" alt="Add to cart">ADD TO CART</a>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay"></div>