<section class="products" id="products-section">
	<div class="products__wrapper">
		<h2 class="wrapper__title">Potions</h2>
		<ul class="wrapper__group">
			<li class="group__item">
				<img src="{{ _basePath }}img/aging-potion.png" alt="" class="item__icon">
				<p class="item__description">Aging Potion - <span>$29.99</span></p>
			</li>
			<li class="group__item">
				<img src="{{ _basePath }}img/bulgeye-potion.png" alt="" class="item__icon">
				<p class="item__description">Bulgeye Potion - <span>$19.99</span></p>
			</li>
			<li class="group__item">
				<img src="{{ _basePath }}img/dragon-tonic.png" alt="" class="item__icon">
				<p class="item__description">Dragon Tonic - <span>$64.99</span></p>
			</li>
			<li class="group__item">
				<img src="{{ _basePath }}img/love-potion.png" alt="" class="item__icon">
				<p class="item__description">Love Potion - <span>$29.99</span></p>
			</li>
			<li class="group__item">
				<img src="{{ _basePath }}img/polyjuice-potion.png" alt="" class="item__icon">
				<p class="item__description">Polyjuice Potion - <span>$99.99</span></p>
			</li>
			<li class="group__item">
				<img src="{{ _basePath }}img/sleeping-draught.png" alt="" class="item__icon">
				<p class="item__description">Sleeping Draught - <span>$14.99</span></p>
			</li>
		</ul>
	</div>
</section>